﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">
  
  @Styles.Render("~/Content/bootstrap")
  @Scripts.Render("~/bundles/modernizr")

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="~/Content/images/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="~/Content/images/apple-touch-icon-57-precomposed.png" />
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" style="padding-top:0px;">
@*  @Html.Partial("_NavBar")*@
  
  <header class="jumbotron subhead">
    <div class="container">
        <h1>Paragon</h1>
    </div>
  </header>

  @RenderSection("header", false)
    
  <div class="container">
    @RenderBody()
  </div>
  
  @Html.Partial("_Footer")

  @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
  @RenderSection("scripts", false)
</body>
</html>